.slidev-layout.cover.slide-title {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(/title.png) !important;
}

.slidev-layout.cover h1 {
    color: #565656 !important;
}
